---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import CardVideo from "../components/CardVideo.astro";
---

<BaseLayout
	title="Consultorías | El Rincon de Isma"
	description="Consultorías | El Rincon de Isma"
>
	<div class="stack gap-20">
		<main class="wrapper">
			<Hero
				title="Pide una consultoria"
				tagline="Aquí puedes contratar una consultoría conmigo, para consultarme sobre algún proyecto en el que estes trabajando."
			/>
			<section class="text-center py-12 w-fit">
				<p class="stack gap-2">
					Bienvenido a mi página de consultorías, aquí vas a poder
					reservar una consultoría conmigo para charlar y tratar de
					solucionar tu problema. Te dejo abajo un par de preguntas
					recurrentes:
				</p>
				<p>
					<strong>¿En qué consiste una consultoría?</strong>
				</p>
				<p>
					Una consultoría es una llamada de 50 minutos en donde
					charlamos del tema que quieras, generalmente la gente las
					usa para presentarme una situación o algún problema en el
					trabajo donde requieren guiado o consejos para encarar el
					problema. A veces simplemente quieren validar que el trabajo
					que están haciendo esté bien encaminado.
				</p>
				<p>
					<strong
						>Tengo X problema y no lo puedo solucionar, ¿te puedo
						pagar para que lo arregles?
					</strong>
				</p>
				<p>
					No hago trabajos freelance. Lo único que te puedo ofrecer es
					que contrates la consultoría y usemos ese tiempo para tratar
					de solucionar el problema, si el problema lo soluciono en
					esos 50 minutos, perfecto, sino, no le voy a dedicar mas
					tiempo que eso y vas a tener que terminarlo por tu lado (o
					contratar otra consultoría para seguirlo)
				</p>
				<p>
					<strong>¿Puedo grabar la consultoría?</strong>
				</p>
				<p>
					Uso Zoom como plataforma de videollamadas, y la consultoría
					se graba automáticamente en la nube. Una vez que la llamada
					termina, te voy a enviar el link para que la descargues y la
					veas las veces que quieras.
				</p>
				<p>
					<strong
						>El precio me parece muy caro, ¿haces descuentos?
					</strong>
				</p>
				<p>
					Puedo hacer un descuento si me mandas un mail y me explicas
					tu situación, si veo que realmente lo necesitas, te puedo
					hacer un descuento.
				</p>
				<p>
					<strong
						>No veo fechas disponibles para elegir. ¿Qué hago?
					</strong>
				</p>
				<p>
					Esto es porque tengo pocos slots semanales y generalmente se
					llenan rápido, si no hay slots disponibles en los próximos
					30 días, te va a mostrar como que no hay slots nunca, esto
					es porque el sistema no me deja esconder fechas que no se
					pueden reservar con tanta anticipación. Si realmente
					necesitas tu consultoría con urgencia y estás dispuesto a
					pagar un precio extra del 50%, mándame un mail a
					ismael@elrincondeisma.com y trato de acomodarme.
				</p>
			</section>
		</main>
	</div>
</BaseLayout>
