---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="Consultorías | El Rincon de Isma"
	description="Consultorías | El Rincon de Isma"
>
	<Hero
		title="Pide una consultoria"
		tagline="Aquí puedes contratar una consultoría conmigo, para consultarme sobre algún proyecto en el que estes trabajando."
	/>
	<section class="">
		<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
			<div class="mx-auto max-w-screen-sm text-center">
				<a
					href="https://calendly.com/elrincondeisma/50min"
					target="_blank"
					class="md:text-2xl text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
					>Ver horas disponibles</a
				>
			</div>
		</div>
	</section>
	<section class="">
		<div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
			<h2
				class="mb-8 text-4xl tracking-tight font-extrabold text-purple-600"
			>
				Preguntas frecuentes
			</h2>
			<div
				class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2"
			>
				<div>
					<div class="mb-10">
						<h3
							class="flex items-center mb-4 text-lg font-medium text-purple-600"
						>
							<svg
								class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
									clip-rule="evenodd"></path></svg
							>
							¿En qué consiste una consultoría?
						</h3>
						<p class="text-gray-500">
							Una consultoría es una llamada de 50 minutos en
							donde charlamos del tema que quieras, generalmente
							la gente las usa para presentarme una situación o
							algún problema en el trabajo donde requieren guiado
							o consejos para encarar el problema. A veces
							simplemente quieren validar que el trabajo que están
							haciendo esté bien encaminado.
						</p>
					</div>
					<div class="mb-10">
						<h3
							class="flex items-center mb-4 text-lg font-medium text-purple-600"
						>
							<svg
								class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
									clip-rule="evenodd"></path></svg
							>
							¿Puedo grabar la consultoría?
						</h3>
						<p class="text-gray-500">
							Uso Zoom como plataforma de videollamadas, y la
							consultoría se graba automáticamente en la nube. Una
							vez que la llamada termina, te voy a enviar el link
							para que la descargues y la veas las veces que
							quieras.
						</p>
					</div>
					<div class="mb-10">
						<h3
							class="flex items-center mb-4 text-lg font-medium text-purple-600"
						>
							<svg
								class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
									clip-rule="evenodd"></path></svg
							>
							No veo fechas disponibles para elegir. ¿Qué hago?
						</h3>
						<p class="text-gray-500">
							Esto es porque tengo pocos slots semanales y
							generalmente se llenan rápido, si no hay slots
							disponibles en los próximos 30 días, te va a mostrar
							como que no hay slots nunca, esto es porque el
							sistema no me deja esconder fechas que no se pueden
							reservar con tanta anticipación. Si realmente
							necesitas tu consultoría con urgencia y estás
							dispuesto a pagar un precio extra del 50%, mándame
							un mail a ismael@elrincondeisma.com y trato de
							acomodarme.
						</p>
					</div>
				</div>
				<div>
					<div class="mb-10">
						<h3
							class="flex items-center mb-4 text-lg font-medium text-purple-600"
						>
							<svg
								class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
									clip-rule="evenodd"></path></svg
							>
							Tengo X problema y no lo puedo solucionar, ¿te puedo
							pagar para que lo arregles?
						</h3>
						<p class="text-gray-500">
							No hago trabajos freelance. Lo único que te puedo
							ofrecer es que contrates la consultoría y usemos ese
							tiempo para tratar de solucionar el problema, si el
							problema lo soluciono en esos 50 minutos, perfecto,
							sino, no le voy a dedicar mas tiempo que eso y vas a
							tener que terminarlo por tu lado (o contratar otra
							consultoría para seguirlo)
						</p>
					</div>
					<div class="mb-10">
						<h3
							class="flex items-center mb-4 text-lg font-medium text-purple-600"
						>
							<svg
								class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
									clip-rule="evenodd"></path></svg
							>
							El precio me parece muy caro, ¿haces descuentos?
						</h3>
						<p class="text-gray-500">
							Puedo hacer un descuento si me mandas un mail y me
							explicas tu situación, si veo que realmente lo
							necesitas, te puedo hacer un descuento.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
